
@tailwind base;
@tailwind components;
@tailwind utilities;

.content {
  margin-top: 40px;
}
.header {
  border;solid green 1px;
  padding: 20px;
  position: relative;
  top: 7%;
  width: 100%;
  z-index: 9999;
}
.left-title {
  width: 150px;
  color: #fff;
  font-size: 18px;
  float: left;
}
.right-title {
  width: 150px;
  text-align: right;
  float: right;
  color: #fff;
}
.quiz-body {
  margin-top: 15px;
  padding-bottom: 50px;
}
.option-block-container {
  margin-top: 20px;
  max-width: 420px;
}
.option-block {
  padding: 10px;
  background: aliceblue;
  border: 1px solid #84c5fe;
  margin-bottom: 10px;
  cursor: pointer;
}
.result-question {
  font-weight: bold;
}
.c-wrong {
  margin-left: 20px;
  color: #ff0000;
}
.c-correct {
  margin-left: 20px;
  color: green;
}
.last-row {
  border-bottom: 1px solid #ccc;
  padding-bottom: 25px;
  margin-bottom: 25px;
}
.res-header {
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
*{
    margin: 0;
    padding: 0;
}
.scroller{
    width: 100%;
    background-color: rgb(151, 151, 245);
    margin: 1rem;
    padding: 0rem;
    border: 1px solid rgb(86, 96, 172);
}

#About{
    width: 100vw;
    height: 100vh;
    padding: 1%;
    overflow: hidden;
    text-align: center; 
    border: 1px solid rgb(86, 96, 172);
    margin-top:10%;
    padding-top:10%;
    background-image:url("images/about.jpg");
}
#Contact{
    width: 100vw;
    height: 100vh;
    padding: 10%;
    text-align: center;
    border: 1px solid rgb(86, 96, 172);
    background-image:url("images/contact.jpg");
}
#About h1 {
   color:rgb(82, 222, 178);
    padding-bottom:5%;
}
#About p {
    padding-top:5%;
    color:rgb(175, 97, 109);
}
#Team{
    width: 100vw;
    height: 100vh;
    padding: 1%;
    overflow: hidden;
    text-align: center; 
    border: 1px solid rgb(86, 96, 172);
    padding-top:10%;
    background-image:url("images/about.jpg");
}
#Team h1 {
   color:rgb(82, 222, 178);
    padding-bottom:5%; 
}
#Team p {
    padding-top:5%;
    color:rgb(175, 97, 109);
    font-size:30px;
}





