.content {
  margin-top: 40px;
}
.header {
  border;solid green 1px;
  padding: 20px;
  position: relative;
  top: 7%;
  width: 100%;
  z-index: 9999;
}
.left-title {
  width: 150px;
  color: #fff;
  font-size: 18px;
  float: left;
}
.right-title {
  width: 150px;
  text-align: right;
  float: right;
  color: #fff;
}
.quiz-body {
  margin-top: 15px;
  padding-bottom: 50px;
}
.option-block-container {
  margin-top: 20px;
  max-width: 420px;
}
.option-block {
  padding: 10px;
  background: aliceblue;
  border: 1px solid #84c5fe;
  margin-bottom: 10px;
  cursor: pointer;
}
.result-question {
  font-weight: bold;
}
.c-wrong {
  margin-left: 20px;
  color: #ff0000;
}
.c-correct {
  margin-left: 20px;
  color: green;
}
.last-row {
  border-bottom: 1px solid #ccc;
  padding-bottom: 25px;
  margin-bottom: 25px;
}
.res-header {
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.class {
    position: absolute;
    width: 100vw;
}
.heading{
    height: auto;
    text-align: center;
    font-size: 2rem;
    font-family: Times New Roman;
    font-weight: 900;
    color: red;
    background:linear-gradient(50deg,rgb(98,67,98),rgb(67,89,97));
    padding: 20px;
}
.footer {
    position:absolute;
    width: 100%;
    justify-content: center;
    display: flex;
    text-align:center;
    border:solid black 1px;
    color:rgb(78,90,36);
    background:linear-gradient(50deg,rgb(98,67,98),rgb(67,89,97));
    
}
